<div class="main category-container">
  <%@groups.each do |g|%>
  
    <div class="category category-container">
      <img class = "category-img" src=<%=g.icon%> alt="category-icon">

      <div class="flex">
        <%= link_to group_path(g.id), :remote => true do %>
          <h2 class = "category-name">
            <%=g.name%>
          </h2>
        <%end%>
        
        <h4 class = "category-creation-date">
          This group was created on:  <%=g.created_at%>
        </h4>
      </div>

    </div>
  <%end%>
  

</div>